<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="theme-color" content="#000000" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
    <link rel="manifest" href="<%= Routes.static_url(@conn, "/assets/manifest.json") %>"/>
    <link rel="icon" href="<%= Routes.static_url(@conn, "/assets/favicon.ico") %>"/>
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet"/>
    <%= if Application.get_env(:rollover, :env) == :prod do %>
      <link rel="stylesheet" href="<%= Routes.static_url(@conn, "/assets/main.css") %>"/>
    <% end %>
    <title>Rollover</title>
    <style>
      html,
      body {
        height: 100%;
        font-family: "Rubik", sans-serif;
      }
    </style>
  </head>
  <body>
    <script src="<%= Routes.static_url(@conn, "/assets/main.js") %>"></script>
  </body>
</html>
