.offscreen-right {
  transform: translate3d(100%, 0, 0);
}

.offscreen-left {
  transform: translate3d(-100%, 0, 0);
}

.animate {
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.51, 0.91, 0.74, 1.02);
  animation-fill-mode: both;
}

@keyframes slide-in-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translate3d(0);
  }
}
.slide-in-left {
  animation-name: slide-in-left;
}

@keyframes slide-in-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translate3d(0);
  }
}
.slide-in-right {
  animation-name: slide-in-right;
}

@keyframes slide-out-left {
  from {
    transform: translate3d(0);
  }

  to {
    transform: translateX(-100%);
  }
}
.slide-out-left {
  animation-name: slide-out-left;
}

@keyframes slide-out-right {
  from {
    transform: translate3d(0);
  }

  to {
    transform: translateX(100%);
  }
}
.slide-out-right {
  animation-name: slide-out-right;
}
